<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Thêm mới sản phẩm</h2>
<form action="/products" method="post">
    <table>
        <tr>
            <th>name products</th>
            <th>price</th>
            <th>quantity</th>
            <th>image</th>
        </tr>
        <tr>
            <td><input type="text" name="name"><br></td>
            <td><input type="text" name="price"><br></td>
            <td><input type="text" name="quantity"><br></td>
            <td><input type="text" name="image"></td>
            <td><button>Add</button></td>
        </tr>
    </table>
    <!-- <input type="text" name="id"> -->
    
</form>
</body>
</html>
